In [131]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

In [111]:
#cluster analysis is unsupervised learning example
#doing analysis for estimates value
df = pd.read_csv('single_family_home_values.csv')

In [112]:
X = df.drop(columns=['estimated_value'])
X.head(2)

,id,address,city,state,zipcode,latitude,longitude,bedrooms,bathrooms,rooms,squareFootage,lotSize,yearBuilt,lastSaleDate,lastSaleAmount,priorSaleDate,priorSaleAmount
0,39525749,8171 E 84th Ave,Denver,CO,80022,39.84916,-104.893468,3,2.0,6,1378,9968,2003.0,2009-12-17,75000,2004-05-13,165700.0
1,184578398,10556 Wheeling St,Denver,CO,80022,39.88802,-104.830930,2,2.0,6,1653,6970,2004.0,2004-09-23,216935,NaN,NaN

In [113]:
X = X[['bedrooms','bathrooms','rooms','squareFootage','lotSize','yearBuilt','priorSaleAmount']]#slicing all these columns are they are inportant in determination of estimated value

In [114]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   bedrooms         15000 non-null  int64
 1   bathrooms        15000 non-null  float64
 2   rooms            15000 non-null  int64
 3   squareFootage    15000 non-null  int64
 4   lotSize          15000 non-null  int64
 5   yearBuilt        14999 non-null  float64
 6   priorSaleAmount  11287 non-null  float64
dtypes: float64(3), int64(4)
memory usage: 820.4 KB

In [115]:
#Now as priorSaleAmount has Nan values we can either drop those rows or we can fill them with 0
#fillin with mean doesnt make much sense here
Y = X.dropna()
Z = X.fillna(0)
Y.info()
Z.info()
kmean1 = KMeans(n_clusters=5, random_state=0).fit(Y)
print(kmean1)
kmean2 = KMeans(n_clusters=3, random_state=0).fit(Z)
print(kmean2)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11286 entries, 0 to 14999
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   bedrooms         11286 non-null  int64
 1   bathrooms        11286 non-null  float64
 2   rooms            11286 non-null  int64
 3   squareFootage    11286 non-null  int64
 4   lotSize          11286 non-null  int64
 5   yearBuilt        11286 non-null  float64
 6   priorSaleAmount  11286 non-null  float64
dtypes: float64(3), int64(4)
memory usage: 705.4 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   bedrooms         15000 non-null  int64
 1   bathrooms        15000 non-null  float64
 2   rooms            15000 non-null  int64
 3   squareFootage    15000 non-null  int64
 4   lotSize          15000 non-null  int64
 5   yearBuilt        15000 non-null  float64
 6   priorSaleAmount  15000 non-null  float64
dtypes: float64(3), int64(4)
memory usage: 820.4 KB
KMeans(n_clusters=5, random_state=0)
KMeans(n_clusters=3, random_state=0)

In [116]:
label1 = kmean1.labels_ # gives 1st data point belongs to classer 0, second data point belong to classer 0 and so on
label2 = kmean2.labels_

In [117]:
# gives center for each column in same classer like for 0 classer->center of each 7 column and same for other classers
print(kmean1.cluster_centers_)
print('------------------------------------------------------')
print(kmean2.cluster_centers_[1])# classer 1 centers

[[2.53790902e+00 1.80766161e+00 5.54158021e+00 1.23129976e+03
  5.66326049e+03 1.93070806e+03 1.11229370e+05]
 [3.88750000e+00 5.78750000e+00 1.04500000e+01 4.67066250e+03
  1.38135250e+04 1.96363750e+03 2.49937409e+06]
 [3.42510121e+00 4.17206478e+00 8.79757085e+00 3.01997166e+03
  7.46685830e+03 1.95017206e+03 8.80774298e+05]
 [3.00000000e+00 4.50000000e+00 9.00000000e+00 3.74800000e+03
  8.59750000e+03 1.99800000e+03 1.37500550e+07]
 [2.78492688e+00 2.48976378e+00 6.55230596e+00 1.61027109e+03
  5.40694016e+03 1.92404004e+03 3.52914728e+05]]
------------------------------------------------------
[3.69230769e+00 5.61538462e+00 1.03557692e+01 4.48931731e+03
 1.26605865e+04 1.96913462e+03 2.52178569e+06]

In [118]:
print(kmean1.cluster_centers_.shape) # 5 classers and 7 columns
print(kmean2.cluster_centers_.shape) # 3 classers and 7 columns

(5, 7)
(3, 7)

In [119]:
Y['cluster'] = label1
Z['cluster'] = label2
print(Y.head(10))
print(Z.head(10))

    bedrooms  bathrooms  rooms  squareFootage  lotSize  yearBuilt  \
0          3        2.0      6           1378     9968     2003.0
3          4        3.0      0           2400    11500     1956.0
4          3        4.0      8           2305     5600     1998.0
5          3        5.0      7           2051     6045     1996.0
6          4        4.0      8           2051     6315     1997.0
7          3        3.0      7           2051     8133     1997.0
8          3        3.0      7           1796     5038     1999.0
9          3        3.0      0           2054     4050     2007.0
10         3        4.0      7           2568     6397     2000.0
11         3        2.0      6           1290     9000     1962.0

    priorSaleAmount  cluster
0          165700.0        0
3               0.0        0
4               0.0        0
5          339000.0        4
6          345000.0        4
7          225200.0        0
8               0.0        0
9          312000.0        4
10         530000.0        4
11         171000.0        0
   bedrooms  bathrooms  rooms  squareFootage  lotSize  yearBuilt  \
0         3        2.0      6           1378     9968     2003.0
1         2        2.0      6           1653     6970     2004.0
2         3        1.0      0           1882    23875     1917.0
3         4        3.0      0           2400    11500     1956.0
4         3        4.0      8           2305     5600     1998.0
5         3        5.0      7           2051     6045     1996.0
6         4        4.0      8           2051     6315     1997.0
7         3        3.0      7           2051     8133     1997.0
8         3        3.0      7           1796     5038     1999.0
9         3        3.0      0           2054     4050     2007.0

   priorSaleAmount  cluster
0         165700.0        0
1              0.0        0
2              0.0        0
3              0.0        0
4              0.0        0
5         339000.0        2
6         345000.0        2
7         225200.0        0
8              0.0        0
9         312000.0        2

C:\Users\hp\AppData\Local\Temp/ipykernel_5200/1383257832.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Y['cluster'] = label1

In [120]:
Y.groupby('cluster').mean()# cluster wise avg data

,bedrooms,bathrooms,rooms,squareFootage,lotSize,yearBuilt,priorSaleAmount
cluster,,,,,,,
0,2.537921,1.807441,5.541593,1231.241418,5663.122625,1930.709883,1.111907e+05
1,3.887500,5.787500,10.450000,4670.662500,13813.525000,1963.637500,2.499374e+06
2,3.425101,4.172065,8.797571,3019.971660,7466.858300,1950.172065,8.807743e+05
3,3.000000,4.500000,9.000000,3748.000000,8597.500000,1998.000000,1.375006e+07
4,2.784799,2.489768,6.551833,1610.182820,5407.249606,1924.040477,3.528604e+05

In [134]:

# for this data it is best to have cluster of 2 as it has highest silhouette score
for i in range(2,10):
    kmn = KMeans(n_clusters=i, random_state=0).fit(Y)
    label = kmn.labels_
    print(silhouette_score(Y,label))

0.8797397994897784
0.8584136121243214
0.5755018982468273
0.5629172194973703